<li>
  <span class="user"><%= problem.user.name %></span>

    <%= sanitize(problem.content) %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(problem.created_at) %> ago.
  </span>
</li>
