<%= form_for(@problem) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.cktext_area :content %>
    </div>
    <%= f.submit "Изменить!", class: "btn btn-large btn-primary" %>
<% end %>