<%= @problem.content.html_safe %><br>
<% if !current_user.nil? %>
    <%= link_to "Комментировать", new_comment_path %><br>
    <%= link_to "Создать брифинг", '#' %>
<% else %>
    <h1>Nothing to do here!</h1>
<% end %>
<%=render 'comment' %>