
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.problems.any? %>
        <h3>Проблеммы (<%= @user.problems.count %>)</h3>
        <ol class="problems">
          <%= render @problems %>
        </ol>
        <%= will_paginate @problems %>
    <% end %>
  </div>
</div>